aws_region            = "us-east-1"
cluster_name          = "shopos-eks-dev"
environment           = "dev"
kubernetes_version    = "1.31"
vpc_cidr              = "10.10.0.0/16"
availability_zones    = ["us-east-1a", "us-east-1b", "us-east-1c"]
private_subnet_cidrs  = ["10.10.1.0/24", "10.10.2.0/24", "10.10.3.0/24"]
public_subnet_cidrs   = ["10.10.101.0/24", "10.10.102.0/24", "10.10.103.0/24"]
