ENV=development

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
CACHE_DEFAULT_TTL=10m

KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=cache-warming-service

TOPIC_PRODUCT_VIEWED=analytics.product.clicked
TOPIC_CART_ABANDONED=commerce.cart.abandoned
TOPIC_ORDER_PLACED=commerce.order.placed
TOPIC_INVENTORY_LOW=supplychain.inventory.low
TOPIC_SEARCH_PERFORMED=analytics.search.performed