subscription_id    = "your-azure-subscription-id"
location           = "East US"
environment        = "dev"
cluster_name       = "shopos-aks"
kubernetes_version = null   # null = latest stable

address_space      = "10.1.0.0/16"
node_subnet_prefix = "10.1.0.0/20"
service_cidr       = "10.100.0.0/16"
dns_service_ip     = "10.100.0.10"
system_node_count  = 1
system_vm_size     = "Standard_D4s_v3"
availability_zones = ["1", "2", "3"]
