HTTP_PORT=8707
KAFKA_BROKERS=localhost:9092
INPUT_TOPICS=analytics.page.viewed,analytics.product.clicked,analytics.search.performed
OUTPUT_TOPIC=analytics.enriched
KAFKA_GROUP_ID=data-pipeline
CASSANDRA_HOSTS=localhost
CASSANDRA_KEYSPACE=pipeline